body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* src/index.css */
@font-face {
  font-family: "dnf bitbit v2";
  /* 경로가 src/fonts 폴더 안에 있다면 아래와 같이 작성 */
  src: url("./fonts/DNFBitBitv2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
